body {
     background: #fff;
    font-size: 12px;
}
body, textarea, input, button, select, keygen, legend {
    font: 12px/1.5 "微软雅黑","Arial", "Hiragino Sans GB", "SimSun",\5b8b\4f53, "serif";
    color: #333;
    outline: 0;
}
html, body {
    height: 100%;
}
body{
    min-width: 1200px;
}
.f-cb{
    zoom: 1;
}
.f-ib {
    display: inline-block;
    zoom: 1;
}
.f-pa {
    position: absolute;
}
.f-fl {
    float: left;
}
.f-fl {
    float: left;
}
.f-cb {
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.banner{
    width: 1200px;
    margin: 0 auto;
}
.clearfix{
    zoom:1
}
/*头部 logo 登录 样式*/
.head{
    height: 70px;
    background-color: white;
}
.h-r{
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    position: relative;
}
.h-r li{
    display: inline-block;
    color: #434343;
    font-size: 14px;
}
.h-r li a{
    color: #434343;
    font-size: 14px;
}
.h-r li:nth-child(1):hover{
    color: #4d8dc3;
}
.h-r li:nth-child(2){
    font-size: 16px;
}
/*导航部分*/
.c-head{
    /*background-color: #2d313c;*/
    background-color: #2275bb;
}
.c-nav{
    z-index: 1;
    height: 51px;
    /*background-color: #2d313c;*/
    /*border: 1px solid #ddd;*/
    background-color: #2275bb;
    border-bottom: none;
    position: relative;
}
.h-nav-left{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 198px;
    height: 50px;
    background-color: #1d8ddd;
    overflow: hidden;
}
.qb {
    display: block;
    color: #fff;
    line-height: 50px;
    font-size: 17px;
    position: relative;
    width: 100%;
    text-align: center;
}
.qb:before{
    position: absolute;
    top: 16px;
    left: 30px;
    background: url(../../sxsfdx/img/declaretion/all.png) no-repeat;
    width: 20px;
    height: 20px;
    content: '';
}
.search{
    position: relative;
    margin: 10px 0px 0 0;
    background-color: #fff;
    float: right;
    height: 32px;
    /*border: 1px solid #2a8ee4;*/
    width: 290px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.search .box{
    overflow: hidden;
    background: #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.search .box input{
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    text-indent: 5px;
    border:none;
    width: 256px;
}
.search label{
    height: 32px;
    position: absolute;
    top: 0px;
    left: 5px;
    color: #aaa;
    font-size: 14px;
    cursor: text;
    line-height: 32px;
}
.content .c-content .c-l .c-con .c-in p{
    height: 42px;
    margin:10px 0 0;
}
.content .c-head ul li a{
    cursor: pointer;
}
.search .submit{
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    right: 0;
    top: 0;
    background: url("../../sxsfdx/img/declaretion/search2.png");
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
    -webkit-border-radius: 0px 2px 2px 0;
    -moz-border-radius: 0px 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.h-nav-center{
    position: absolute;
    left: 198px;
    top: 0px;
}
.h-nav-center li{
    display: inline-block;
    height:50px;
    line-height: 50px;
}
.h-nav-center li a{
    color: #fff;
}
.h-nav-center li a span{
    display: inline-block;
    height:50px;
    line-height: 50px;
    padding:0 35px;
    font-size: 16px;
}
.c-nav-left{
    position: absolute;
    left: 0px;
    top: 51px;
    width: 198px;
}
.c-nav-left .cateleft{
    z-index: 2;
    top: 0;
    left: 0;
    width: 198px;
    height: 340px;
}
.c-nav-left .cateleft .catebg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
}
.c-nav-left .cateleft .catebg .items{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
    min-height: 340px;
    overflow: hidden;
}
.catebg .items .item{
    height: 48.5px;
    padding: 0 10px 0 13px;
    position: relative;
    /*background: #2d313c;*/
}
.catebg .items .item:hover{
    background-color: #fff;
}
.catebg .items .item:hover .inn a{
    color: #1c77c3;
}
.cateleft .item .inn {
    position: relative;
    z-index: 2;
    height: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.item:last-child .inn{
    border:none;
}
.cateleft .item .inn p {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}
.cateleft .item .inn a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    padding-left: 50px;
    position: relative;
    box-sizing: border-box;
}
.cateleft .item:nth-child(1) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/1.png");
}
.cateleft .item:nth-child(2) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/2.png");
}
.cateleft .item:nth-child(3) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/3.png");
}
.cateleft .item:nth-child(4) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/4.png");
}
.cateleft .item:nth-child(5) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/5.png");
}
.cateleft .item:nth-child(6) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/6.png");
}
.cateleft .item:nth-child(7) .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/7.png");
}
.cateleft .item:nth-child(1):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/1-1.png");
}
.cateleft .item:nth-child(2):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/2-1.png");
}
.cateleft .item:nth-child(3):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/3-1.png");
}
.cateleft .item:nth-child(4):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/4-1.png");
}
.cateleft .item:nth-child(5):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/5-1.png");
}
.cateleft .item:nth-child(6):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/6-1.png");
}
.cateleft .item:nth-child(7):hover .inn a .item-icon{
    background-image: url("../../sxsfdx/img/declaretion/7-1.png");
}
.cateleft .item .inn a .item-icon{
    position: absolute;
    top: 11px;
    left: 18px;
    width: 20px;
    height: 26px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
/*轮播*/
.c-img{
    background: #f8f8f8;
    height:340px;
}
.layui-carousel-arrow{
    left:50%;
    margin-left: -410px;
    width: 32px;
    height:74px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: -37px;
}
.layui-carousel-arrow[lay-type=add]{
    right:50%;
    margin-right: -626px;
}
.layui-carousel:hover .layui-carousel-arrow{
    left: 50%;
    margin-left: -390px;
}
.layui-carousel:hover .layui-carousel-arrow[lay-type=add]{
    right: 50%;
    margin-right: -588px;
}
.layui-carousel-ind ul{
    margin-left: 198px;
}
/*国家优质资源*/
.youzhi{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    clear: none;
    display: block;
    min-width: 0px;
    color: black;
    font-size: 16px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}
.y-box{
    left: 0px;
    top: 0px;
    height: 80px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    clear: none;
    color: black;
    margin: 0px auto;
    padding: 0px;
    font-size: 16px;
    border-bottom:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.y-title{
    width:198px;
    position: relative;
}
.y-title:before{
    position: absolute;
    top: 28px;
    left: 20px;
    content: '';
    width:28px;
    height:23px;
    background: url("../../sxsfdx/img/declaretion/boo3.png");
    background-repeat: no-repeat;
}
.y-title:after{
    position: absolute;
    content: '';
    width:1px;
    height:25px;
    top:27px;
    right:0;
    background-color: #dbdbdb;
}
.y-title a{
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 80px;
    color: #595959;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
}
.y-box ul li{
    display: inline-block;
    padding-right: 20px;
    left: 0px;
    top: 0px;
    height: 80px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    clear: none;
    color: black;
    /*margin: 0px;*/
    /*padding: 0px;*/
    font-size: 16px;
    padding:0 25px;
}
.y-box ul li:before{
    position: absolute;
    content: '';
    width:1px;
    height:25px;
    top:27px;
    right:0;
    background-color: #dbdbdb;
}
.y-box ul li a{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 15px;
}
.y-box ul .img-l img{
    height: 30px;
    margin-top: 15px;
}
.y-box ul li:last-child:before{
    width:0;
}
.y-more{
    height:80px;
    line-height: 80px;
}
.y-more span{
    display: inline-block;
    margin-right: 35px;
    height:80px;
    line-height: 80px;
    color: #9e9e9e;
}
.y-more a:hover span{
    color: #1c77c3;
}
/*分类*/
.l-c{
    left: 0px;
    top: 0px;
    z-index: 0;
    min-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 30px 0 0 0;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
}
.l-box{
    -webkit-box-shadow: 0 5px 30px 0 #F2F2F2;
    -moz-box-shadow: 0 5px 30px 0 #F2F2F2;
    box-shadow: 0 5px 30px 0 #F2F2F2;
    padding-top:20px;
}
.l-box:last-child{
 box-shadow: none;
}
.l-c .l-c-catName{
    left: 0px;
    top: 2px;
    width: auto;
    height: 31px;
    z-index: 0;
    min-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 0px;
    position: relative;
    overflow: hidden;
    float: left;
    line-height: 31px;
}
.l-c .l-c-catName a{
    display: inline-block;
    width: 100%;
    height: 31px;
}
.l-c .l-c-catName a span{
    line-height: 31px;
    display: inline-block;
    width: 100%;
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 24px;
    color: rgb(17, 17, 17);
    text-align: left;
    vertical-align: middle;
}
.l-c .l-c-catName a span:hover{
    color: #2d6295;
}
.l-c-allName{
    left: 0px;
    top: 12px;
    width: 1000px;
    height: 32px;
    z-index: 0;
    min-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    float: left;
}
.l-c-catName-f-div{
    left: 0px;
    top: 0px;
    width: auto;
    height: 19px;
    z-index: 0;
    min-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    line-height: 19px;
}
.l-c-catName-f-div span{
    line-height: 19px;
    height:28px;
    display: inline-block;
    width: 100%;
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-align: left;
    vertical-align: middle;
    position: relative;
}
.l-c-catName-f-div span:hover{
    color: #1c77c3;
}
.l-c-catName-f-div a{
    display: inline-block;
    height:32px;
}
.l-c-catName-f-div a:hover span:before{
    width:100%;
    height:2px;
    position: absolute;
    bottom: 0;
    left:0;
    content: '';
    background-color: #1c77c3;
}
.l-c-more{
    right: 35px;
    top: 17px;
    width: 80px;
    height: 17px;
    z-index: 0;
    min-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 0px;
    position: absolute;
}
.l-c-more a{
    display: inline-block;
    width: 100%;
    height: 17px;
}
.l-c-more a .l-c-more-span{
    line-height: normal;
    display: inline-block;
    width: 100%;
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 13px;
    color: rgb(51, 51, 51);
    text-align: right;
    vertical-align: middle;
}
.l-c-more a .l-c-more-span:hover{
    color: #1c77c3;
}
/*分类列表*/
.l-c-row{
    width: 1200px;
    z-index: 0;
    min-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 35px;
    float: left;
    margin-top: 30px;
}
.l-c-list{
    margin: 0 -20px -20px 0;
    /*overflow: hidden;*/
}
.uc-course-card-recomend {
    position: relative;
    width: 296px;
    height: 300px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px 6px 20px 0px;
    border: 1px solid #f9f9f9;
    /*z-index: 10;*/
}
.uc-course-card-recomend:hover{
    -webkit-box-shadow: #e9e9e9 0px 2px 8px;
    -moz-box-shadow: #e9e9e9 0px 2px 8px;
    box-shadow: #e9e9e9 0px 2px 8px;
}
.l-c-list li .j-href{
    display: inline-block;
    width: 100%;
    height: 300px;
}
.l-c-list li .j-href-top{
    overflow: hidden;
    width: 276px;
    height: 158px;
    margin: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
}
.l-c-list li .j-href-top img{
    display: block;
    width: 274px;
    height: 156px;
    -webkit-transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1) 0s;
    transition: all 0.3s cubic-bezier(0, 0.5, 0.5, 1) 0s;
}
.l-c-list li .j-href-top:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
     transform: scale(1.1);
}
/*图片下方文字*/
.uc-ykt-coursecard-wrap_tit {
    color: #333;
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.uc-ykt-coursecard-wrap_tit > h3 {
    min-height: 20px;
    max-height: 40px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    color: #434343;
}
.uc-ykt-coursecard-wrap_orgName {
    padding: 0 10px;
    line-height: 20px;
    height: 23px;
    color: #666666;
    font-size: 12px;
}
.uc-ykt-coursecard-wrap_scorewrap {
    font-size: 12px;
    padding: 0 10px;
    /*bottom: 46px;*/
    height:32px;
    line-height: 32px;
    vertical-align: middle;
}
.uc-ykt-coursecard-wrap_scorewrap .m-scorecnt {
    margin-right: 6px;
}
.uc-starrating{
    width:120px;
    position: relative;
}
.uc-starrating:after{
    width:1px;
    height:16px;
    background-color: #dbdbdb;
    position: absolute;
    top:8px;
    right: 0;
    content: '';
}
.uc-starrating_wrap{
    width:75px;
    background: url(../../sxsfdx/img/declaretion/star2.png) repeat-x;
}
.uc-starrating_wrap .z-on {
    background-position: 0 0;
}
.uc-starrating_wrap .m-star {
    float: left;
    /*width: 75px;*/
    height: 13px;
    background-position: -34px 0;
    margin-right: 2px;
}
.starsprite, .uc-starrating_wrap .m-star {
    background: url(../../sxsfdx/img/declaretion/star.png) repeat-x;
    position: relative;
}
.m-hot{
    padding-left: 35px;
    position: relative;
}
.m-hot:before{
    position: absolute;
    top:8px;
    left:10px;
    content: '';
    width:13px;
    height:15px;
    background: url("../../sxsfdx/img/declaretion/people.png") no-repeat;
}
.f-cb:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.uc-starrating_score {
    vertical-align: top;
    color: #666666;
}
.uc-ykt-coursecard-wrap_pic{
    padding: 0 10px;
    bottom: 10px;
    line-height: 21px;
    height: 40px;
    font-size: 14px;
    color: #555555;
}
.uc-ykt-coursecard-wrap_pic img{
    margin-right: 10px;
    position: relative;
}
.uc-ykt-coursecard-wrap_pic .icon-box{
    display: inline-block;
    position: relative;
    min-height: 40px;
}
.icon-title {
    display: none;
    position: absolute;
    top: 32px;
    min-height: 26px;
    line-height: 26px;
    border: 1px solid #f39237;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    width: 90px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    z-index: 99;
}
.icon-box:hover .icon-title{
    /*opacity: 1;*/
    display: block;
}
.icon-title .icon-title-i{
    display: block;
    padding:0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
}
.icon-title .icon-title-a{
    min-height: 26px;
    line-height: 26px;
    display: block;
    padding:0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.icon-title .icon-title-i:hover{
    color: #f39237;
}
.icon-title .icon-title-a:hover{
    color: #f39237;
}
.icon-title:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #f39237;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    transform: rotate(45deg);
    background-color: #FFF;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}
/*国家优质资源*/
.school{
    /*margin: -20px 0 0 -20px;*/
}
.s-box li a{
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 42px 60px;
    margin: 20px 0 0 20px;
}
.s-box li a img{
    display: block;
    width: 158px;
    height: 60px;
}
/*视频弹框*/
.layui-layer-page .layui-layer-btn{
    position: absolute;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.layui-layer-content{
    height:100% !important;
}
/*.layui-layer-wrap{*/
    /*height:500px;*/
/*}*/
/*.layui-layer-page .layui-layer-title {*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*position: absolute;*/
    /*top: -50px;*/
    /*left: 0;*/
    /*color: #fff;*/
    /*background: rgba(0,0,0,0);*/
    /*font-size:20px;*/
    /*letter-spacing: 3px;*/
    /*border:none;*/
/*}*/
.layui-layer-page .layui-layer-btn .layui-layer-btn0 {
    border-color: #1c77c3 !important;
    background-color: #1c77c3 !important;
    color: #fff;
}
.layui-layer-page .layui-layer-btn a{
    height:36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}
.layui-layer-page .layui-layer-max,
.layui-layer-page .layui-layer-min{
    width:0;
}
.layui-layer-page .layui-layer-setwin .layui-layer-min cite{
    width:0;
}