body, html {
	width:100%;
	height:100%;
}
* {
	padding:0;
	margin:0;
	font:12px "微软雅黑" ;
	border:none;
	list-style:none;
	font-style:none;
	font-weight:normal;
	
}
a {
	cursor:pointer;
	text-decoration:none;
}